In [2]:
# DTM

import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

documents = [
    "Lee likes apples",
    "Lee likes bananas",
    "Lee likes bananas and Lee likes bananas",
]

vectorizer = CountVectorizer()

# Document Term Matrix
dtm = vectorizer.fit_transform(documents)
dtm_array = dtm.toarray()
vocabulary = vectorizer.get_feature_names_out()

# Term Freqeuncy
tf = pd.DataFrame(dtm.toarray(), columns = vocabulary)

print (vocabulary)

tf

['and' 'apples' 'bananas' 'lee' 'likes']

   and  apples  bananas  lee  likes
0    0       1        0    1      1
1    0       0        1    1      1
2    1       0        2    2      2